@media only screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

@media only screen and (min-width: 1158px) {
  /* .header-container {
    min-width: 1158px;
  } */

  .logo {
    margin-right: 76px;
  }

  .hero-section {
    padding: 188px 0;
  }

  .hero-title {
    width: 496px;
    font-size: 56px;
  }

  .contact-list {
    flex-direction: row;
    gap: 40px;
  }
}

@media only screen and (min-width: 768px) {
  .hero-section {
    /* max-width: 428px; */
    margin: 0 auto;
    padding: 112px 0;

    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero_desk@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--grey);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/hero_desk@2x.jpg);
    }
  }
}

@media only screen and (min-width: 1158px) {
  .hero-section {
    max-width: 1440px;
  }
}

/* About Section */

@media only screen and (min-width: 1158px) {
  .about-list {
    flex-direction: row;
    gap: 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .about-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
    /* width: 264px; */
  }
}

/* Style What are we doing */

@media only screen and (max-width: 1157px) {
  .section-doing {
    display: none;
  }
}

@media only screen and (min-width: 1158px) {
  .doing-container {
    padding-bottom: 120px;
  }

  .doing-title {
    margin-bottom: 72px;
    text-align: center;
  }

  .doing-list {
    display: flex;
    gap: 24px;
  }

  /* Для першого елементу списку в класі заданий стиль width: calc((100% - 48px) / 3);
для визначення ширини пункту списку (від загальної ширини екрану віднімаємо суму відступів
між пунктами і ділимо це на кількість пунктів списку) (можна використовувати
width: calc((100% - 3 * 16px) / 3) або flex-basis: calc((100% - 48px) / 3)
або flex-basis: calc((100% - 3 * 16px) / 3)) */

  .doing-item {
    flex-basis: calc((100% - 3 * 16px) / 3);
  }
}

/* Style Our Team */

@media only screen and (min-width: 1158px) {
  .team-section {
    padding: 120px 0;
  }

  .team-list {
    flex-wrap: nowrap;
  }

  .team-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
}

/* Style  Customers */

@media only screen and (min-width: 1158px) {
  .customer-section {
    padding: 120px 0;
  }

  .customer-list {
    display: flex;
    row-gap: 72px;
    column-gap: 24px;
  }

  .customer-item {
    flex-basis: calc((100% - 5 * 24px) / 6);
    height: 88px;
  }
}

/* Style footer */

@media only screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }

  .footer-container {
  display: flex;
  align-items: baseline;
  /* gap: 120px; */
}
 .form-subscribe {
    width: 453px;
    height: 80px;
  }


  .text-wrap {
    margin-right: 120px;
  }

  .cmedia-wrap {
  margin-right: 80px;
}

.form-subscribe-email{
    display: flex;
    gap: 24px;
  }
   .form-subscribe-input{
    width: 264px;
  }

}

/* Style filter  */

@media only screen and (min-width: 1158px) {
  .filter-card-section {
  padding-top: 100px;
  padding-bottom: 120px;
}

.filter-list{
  margin-bottom: 72px;
}

.card-list{
  row-gap: 48px;
}

.card-item{
  width: calc((100% - 48px) / 3);
}
}
