/* base style */

:root {
  /* fonts */
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
  /* colors scheme */
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

/* Reset style */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.btn {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--white);
  cursor: pointer;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  color: currentColor;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: var(--ocean);
}

/* End reset */

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.container {
  min-width: 320px;
  max-width: 428px;
  /* width: 100%; */
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;

  outline: 2px solid red;
  outline-offset: -2px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}

/* Header style */

.title {
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}

.subtitle {
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  color: var(--navy-blue);
}

.undertitle {
  font-family: inherit;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/* Style header */

.header {
  border-bottom: 1px solid var(--cornflower);
}

.header-container {
  min-width: 320px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 70px;
  /* padding: 24px 16px; */
}

.nav-wrapp {
  display: flex;
  align-items: center;
  /* margin-right: auto; */
}

.logo {
  /* margin-right: 76px; */

  font-family: var(--second-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.logo-up {
  color: var(--navy-blue);
}

/* .logo:hover,
  .logo:focus {
    color: var(--ocean);
  } */

.logo-down {
  color: var(--cloud);
}

.nav-list {
  display: flex;
  gap: 40px;
}

@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
}

.nav-link {
  position: relative;
  display: block;

  padding: 24px 0;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.nav-link::after {
  position: absolute;
  /* display: block; */
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;

  transform: scaleX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.active {
  color: var(--ocean);
}

.nav-link.active::after,
.nav-link:hover::after,
.nav-link:focus::after {
  background-color: var(--ocean);
  transform: scaleX(1);
}

.nav-item {
  /* padding: 24px 0; */
}

.nav-contacts {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.contact-list {
  display: flex;
}

@media only screen and (max-width: 767px) {
  .contact-list {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .contact-list {
    flex-direction: column;
  }

  .menu-toggle {
    display: none;
  }
}

.menu-toggle {
  background-color: transparent;
  border: none;
}

.icon-mobile {
  stroke: var(--navy-blue);
}

/* style Hero */

@media only screen and (max-width: 427px) {
  .hero-section {
    /* max-width: 428px; */
    margin: 0 auto;
    padding: 112px 0;

    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero_mob@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--grey);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/hero_mob@2x.jpg);
    }
  }
}

.hero-title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: 48px; */
  margin-bottom: 72px;
  max-width: 320px;
  /* width: 496px; */

  font-family: var(--font-family);
  font-weight: 700;
  /* font-size: 56px; */
  font-size: 36px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
}

.hero-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;

  padding: 16px 32px;
  min-width: 169px;
  min-height: 56px;

  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15); */
  background-color: var(--ocean);
}

/* Style About */

.about-container {
  /* padding: 120px 0; */
}

.about-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

/* Для першого елементу списку в класі заданий стиль width: calc((100% - 72px) / 4);
для визначення ширини пункту списку (від загальної ширини екрану віднімаємо суму відступів
між пунктами і ділимо це на кількість пунктів списку) (можна також використовувати
width: calc((100% - 3 * 24px) / 4) або flex-basis: calc((100% - 3 * 24px) / 4)
або flex-basis: calc((100% - 72px) / 4)) */

.about-item {
}

.about-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  margin-bottom: 8px;
  border-radius: 4px;
  background-color: var(--cloud);
}

@media only screen and (max-width: 1157px) {
  .about-wrap {
    display: none;
  }
}

.about-subtitle {
  margin-bottom: 8px;
}

@media only screen and (max-width: 767px) {
  .about-subtitle {
    text-align: center;
  }
}

@media only screen and (max-width: 1157px) {
  .about-subtitle {
    font: 700 36px / 1.11111 var(--font-family);
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue);
  }

  .about-title {
    font: 500 16px / 1.5 var(--font-family);
    letter-spacing: 0.02em;
    color: var(--slate);
  }
}

/* Style Our Team */

.team-container {
  margin-left: auto;
  margin-right: auto;
}

.team-section {
  background: var(--cloud);
}

.team-title {
  margin-bottom: 72px;
  text-align: center;
}

.team-list {
  display: flex;
  gap: 72px;
}

@media only screen and (max-width: 767px) {
  .team-list {
    flex-direction: column;
    align-items: center;
  }
}

/* Для першого елементу списку в класі заданий стиль width: calc((100% - 72px) / 4);
для визначення ширини пункту списку (від загальної ширини екрану віднімаємо суму
відступів між пунктами і ділимо це на кількість пунктів списку) (можна використовувати
width: calc((100% - 3 * 24px) / 4) або flex-basis: calc((100% - 3 * 24px) / 4)
або flex-basis: calc((100% - 72px) / 4)) */

.team-item {
  /* flex-basis: calc((100% - 3 * 24px) / 4); */

  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: var(--white);
}

.team-script {
  padding: 32px 0;
  text-align: center;
}

.team-subtitle {
  margin-bottom: 8px;
}

.team-text {
  margin-bottom: 8px;
  font-family: inherit;

  color: var(--slate);
}

.team-social {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-item {
  width: 40px;
  height: 40px;
}

.link-social {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-social:hover,
.link-social:focus {
  background-color: var(--ocean);
}

/* Style  Customers */

.customer-section {
  padding: 96px 0;
}

.customer-title {
  margin-bottom: 72px;
  text-align: center;
}

.customer-list {
  display: flex;
  gap: 24px;
}

@media only screen and (max-width: 427px) {
  .customer-list {
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: center;
    row-gap: 72px;
    column-gap: 24px;
  }

  .customer-item {
    width: 168px;
    height: 88px;
  }
}

@media only screen and (min-width: 428px) (max-width: 767px) {
  .customer-list {
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 16px;
  }
}
Я
.customer-item {
  /* width: calc((100% - 120px) / 6); */
  height: 88px;
}

.customer-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  border: 1px solid var(--light-slate);
  border-radius: 4px;
  color: var(--light-slate);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:hover,
.customer-link:focus {
  border-color: var(--ocean);
  color: var(--ocean);
}

.customer-icon {
  fill: currentColor;
}
