/* base style */

:root {
  /* fonts */
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
  /* colors scheme */
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}

body {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  color: var(--slate);
}

/* Header style */

.logo {
  font-family: var(--second-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.logo-up {
  color: var(--navy-blue);
}

.logo:hover,
.logo:focus {
  color: var(--ocean);
}

.logo-down {
  color: var(--cloud);
}

.list {
  list-style: none;
}

.link {
  color: currentColor;
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--ocean);
}

.nav-link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.nav-contacts {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/* style Hero */
.hero-section {
  padding-top: 188px;

  /* padding-left: 472px;
  padding-right: 472px; */
  background: var(--navy-blue);
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
}
