/* base style */

:root {
  /* fonts */
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
  /* colors scheme */
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.section {
  min-width: 1440px;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1128px;
  margin-left: auto;
  margin-right: auto;
  /* padding: 0 15px; */

  outline: 2px solid red;
  outline-offset: -2px;
}

/* .button{
  font-family: inherit;
  cursor: pointer;
} */

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.btn {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--white);
  cursor: pointer;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  color: currentColor;
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--ocean);
}

/* Header style */

.logo {
  margin-right: 76px;

  font-family: var(--second-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.logo-up {
  color: var(--navy-blue);
}

.logo:hover,
.logo:focus {
  color: var(--ocean);
}

.logo-down {
  color: var(--cloud);
}

.title {
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}

.subtitle {
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  color: var(--navy-blue);
}

.undertitle {
  font-family: inherit;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/* Style header */

.header {
  border-bottom: 1px solid var(--cornflower);
}

.header-container {
  display: flex;
  align-items: center;
}
.nav-wrapp {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.nav-item {
  padding: 24px 0;
}

.nav-contacts {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.contact-list {
  display: flex;
}

/* style Hero */
.hero-section {
  padding-top: 188px;
  padding-bottom: 188px;

  /* padding-left: 472px;
  padding-right: 472px; */
  background: var(--navy-blue);
}

.hero-title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  width: 496px;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
}

.hero-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;

  padding: 16px 32px;
  min-width: 169px;
  min-height: 56px;

  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: var(--iris);
}

.hero-btn:hover,
.hero-btn:focus {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: var(--ocean);
}

/* Style About */

.about-container {
  padding-top: 120px;
  padding-bottom: 120px;
}

.about-list {
  display: flex;
  gap: 24px;
}

.about-item {
  width: 264px;
}

.about-subtitle {
  margin-bottom: 8px;
}

/* Style What are we doing */

.doing-container {
  padding-bottom: 120px;
}

.doing-title {
  margin-bottom: 72px;
  text-align: center;
}

.doing-list {
  display: flex;
  gap: 24px;
}

/* Style Our Team */

.team-section {
  padding-top: 120px;
  padding-bottom: 120px;
  background: var(--cloud);
}

.team-title {
  margin-bottom: 72px;
  text-align: center;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px 0px;
  width: 264px;
  height: 380px;

  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: var(--white);
}

.team-script {
  padding: 32px 16px;
  text-align: center;
}

.team-subtitle {
  margin-bottom: 8px;
}

.team-text {
  font-family: inherit;

  color: var(--slate);
}

/* Style footer */

.footer {
  padding: 100px 0;
  background-color: var(--navy-blue);
}

.logo-footer {
  margin-bottom: 16px;
}

.footer-text {
  width: 264px;
  color: var(--cloud);
}

/* Style filter  */

.filter-section {
  padding: 96px 0 72px;
}

.filter-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  /* margin-bottom: 72px; */
}

.filter-btn {
  font-family: inherit;
  font-weight: 500;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--iris);

  border: 1px solid var(--cornflower);
  border-radius: 4px;
  padding: 12px 24px;
  min-width: 116px;
  min-height: 48px;

  background: var(--cloud);
}

.filter-btn:hover,
.filter-btn:focus {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.1);
  color: var(--white);
  background: var(--ocean);
}

/* Style cards */

.card-section {
  padding-bottom: 120px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.card-script {
  padding: 32px 0 32px 16px;
}

.card-subtitle {
  color: var(--slate);
}
