@media only screen and (min-width: 768px) {
  .logo {
    margin-right: 120px;
  }
}

/* Section Hero */

@media only screen and (min-width: 428px) and (max-width: 767px) {
  .hero-section {
    /* max-width: 428px; */
    margin: 0 auto;
    padding: 112px 0;

    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero_tab@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--grey);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/hero_tab@2x.jpg);
    }
  }
}

@media only screen and (min-width: 768px) {
  .hero-title {
    max-width: 496px;
    font-size: 56px;
  }
}

@media only screen and (min-width: 768px) {
  .about-list {
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 24px;
    row-gap: 72px;
  }
}

@media only screen and (min-width: 768px) {
  .about-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

/* Section Team */

@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .team-list {
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 64px;
  }

  .team-item {
    /* flex-basis: calc((100% - 24px) / 2); */
  }
}

/* Style  Customers */

@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .customer-container {
    max-width: 552px;
    padding: 0;
  }

  .customer-list {
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .customer-item {
    flex-basis: calc((100% - 2 * 24px) / 3);
    height: 88px;
  }
}

/* Style footer */

@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    max-width: 552px;
    padding: 0;
  }

  .form-subscribe {
    width: 453px;
    height: 80px;
  }

  .form-subscribe-input {
    width: 264px;
  }

  .text-wrap {
  }

  .form-subscribe-email {
    display: flex;
    gap: 24px;
  }
}

/* Style filter  */

@media only screen and (min-width: 768px) {
  .filter-card-section {
    padding-top: 64px;
    padding-bottom: 96px;
  }

  .filter-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 64px;
  }

  .filter-btn {
    min-width: 116px;
    min-height: 48px;
    padding: 12px 24px;
  }

  .card-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .card-item {
    width: calc((100% - 24px) / 2);
  }
}
