@media only screen and (min-width: 768px) {
  .logo {
    margin-right: 120px;
  }
}

@media only screen and (min-width: 428px) and (max-width: 767px) {
  .hero-section {
    /* max-width: 428px; */
    margin: 0 auto;
    padding: 112px 0;

    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero_tab@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--grey);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/hero_tab@2x.jpg);
    }
  }
}

@media only screen and (min-width: 768px) {
  .about-list {
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 24px;
    row-gap: 72px;
  }
}

@media only screen and (min-width: 768px) {
  .about-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

/* Section Team */

@media only screen and (min-width: 768px) {
  .team-list {
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 64px;
  }

  .team-item {
    /* flex-basis: calc((100% - 24px) / 2); */
  }
}



/* Style  Customers */

@media only screen and (min-width: 768px) {
 .customer-item {
  flex-basis: calc((100% - 3 * 16px) / 3);
  height: 88px;
}

}
